<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div>
    <div th:insert="~{fragment/header-fragment :: header}"></div>
    <div>
        <div class="row">
            <!-- Sidebar (Chiếm 2 cột) -->
            <div class="col-2 bg-body-tertiary vh-100 p-3">
                <div  th:insert="~{fragment/menu-fragment :: menu}"></div>
            </div>
            <!-- Nội dung chính (Chiếm 10 cột) -->
            <div class="col-10 p-4">
                <h1 class="text-lg-center">Welcome to Portal Event!</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>
