<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    <div th:fragment="header-qldt">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://localhost:8080/quanlydaotao">
                    <img th:src="@{/image/FBT_logo.png}" alt="Logo" width="50" height="50"
                         class="d-inline-block align-text-top">
                    Portal Event
                </a>
            </div>
        </nav>
    </div>
</header>
</body>
</html>